---
layout: default
---
<!--
<article class="w3-container">
<div>
  <header class="w3-container w3-blue-grey">
    <h1 class="w3-center">{{ page.title }}</h1>
  </header>

<br><br><br>
</div>
<h2 class="w3-padding w3-white"></h2>


{% if page.image %}
<img src="{{BASE_PATH}}../img/{{page.image}}" />
{% endif %}

<div class="w3-content" style="position:relative">
  {{ content }}
</div>

</article>


<div class="w3-content w3-padding" style="max-width:1564px">
</div>
-->
<div>

<h1 class="w3-content w3-container w3-padding">{{ page.title }}</h1>


<div class="w3-content" style="position:relative">
  {{ content }}
</div>
</div>
